{% extends "base.html" %}
{% block title %}Lista de Usuários{% endblock %}
{% block content %}
<h2>Usuários Cadastrados</h2>
<ul>
  {% for u in usuarios %}
    <li>{{ u.nome }} - {{ u.email }}
      <a href="{{ url_for('editar', id=u.id) }}">Editar</a>
      <form action="{{ url_for('deletar_usuario', id=u.id) }}" method="post" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja excluir?')">
        <button type="submit">Remover</button>
      </form>
    </li>
  {% else %}
    <li>Nenhum usuário cadastrado.</li>
  {% endfor %}
</ul>
{% endblock %}